@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
}

.app {
  max-width: 50rem;
  margin: auto;
}

h2 {
  margin: 3rem .75rem;
  font-size: 2rem;
}

.title {
  font-size: 1.75rem;
  margin: 1rem 2.25rem;
}

.blog-preview {
  margin: 0 .75rem 1rem;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #ededed;
  border-radius: 1rem;
}
.blog-preview:hover {
  box-shadow: 0 0 5px #ededed;
}

.blog-preview h4 {
  font-size: 1.5rem;
  color: #f1356d;
  margin-bottom: 1rem;
}

.blog-desc {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.delete {
  color: #fff;
  background-color: #f1356d;
  border: none;
  padding: .5rem .75rem;
  border-radius: .75rem
}

